<!-- <div class="formGroup">
    <button type="button" (click)="authService.GoogleAuth()">
      Log in with Google
    </button>
    <button type="button" (click)="authService.FacebookAuth()">
        Log in with Facebook
      </button>
  </div> -->

<div class="signIn-Page">
    <div class="contanttag">
         <p class="tech">Tech</p>
        <p class="techX">X</p> 
    </div>
    <div class="contentbutton">
        <button mat-button class="btn-fb"><mat-icon  class="icon-f">facebook</mat-icon>LOG IN WITH FACEBOOK</button>
        <button mat-button class="btn-fb" (click)="authService.GoogleAuth()"><mat-icon class="icon-g">Google</mat-icon>LOG IN WITH GOOGLE</button>
    </div>
</div>

<!-- <mat-card class="example-card"> -->
<!-- <div class="contanttag"> -->
<!-- <p class="tech">
        Tech
    </p>
    <p class="techX">X</p> -->
<!-- </div> -->
<!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
<!-- 
    <mat-card-content class="container">
        <p>hello</p>
    </mat-card-content> -->
<!-- </mat-card> -->